JAVACMD="/usr/bin/java"
LS_HOME="/usr/share/logstash"
LS_SETTINGS_DIR="{{ logstash_settings_dir }}"
LS_CONFIG_DIR="{{ logstash_config_dir }}"
LS_PIDFILE="/var/run/logstash.pid"
LS_USER="{{  logstash_user }}"
LS_GROUP="{{ logstash_group }}"
LS_GC_LOG_FILE="{{ logstash_log_path }}/gc.log"
LS_OPEN_FILES="16384"
LS_NICE="10"
#SERVICE_NAME="logstash"
#SERVICE_DESCRIPTION="logstash"
